
:root{
    --fuente: "Bebas Neue", sans-serif;

    --azul: #1b0085;
    --blanco: #FFFFFF;
    --negro: #010101;
    --negroClaro: #080808;

}


html{
    box-sizing:border-box;
    font-size: 62.5%; /*1rem = 10px*/
}

*, *:before, *:after {
    box-sizing: inherit;
}

h1,h2,h3,p{
    font-family: var(--fuente);
    text-align:center;
    margin: 0;
    
}

h1{
    font-size:4rem;
}

h2{
    font-size:3rem
}

.separador{
    border: 10px, solid, var(--azul);
    padding-bottom: 1rem;
}


.contenedor{
    padding-top:3rem;
    width:95% ;
    max-width: 120rem;
    margin: 0 auto;
    display:flex;
    justify-content:center;

}

.gradiant{
    height: 30rem;
    width: 30rem;
    
    background: rgb(255,255,255);
    background: linear-gradient(156deg, rgba(255,255,255,1) 0%, rgba(193,207,242,0.94) 54%, rgba(143,167,228,1) 77%, rgba(47,92,207,1) 100%);
    border-radius: 5px;
}
@media (min-width:468px ) {
    .gradiant{
        border-radius: 50%; 
    }

    .gradiant:hover{
        height: 40rem;
        width: 40rem;
    
        background: rgb(255,255,255);
        background: linear-gradient(156deg, rgba(255,255,255,1) 0%, rgba(216,225,246,0.94) 54%, rgba(184,200,241,1) 77%, rgba(80,119,218,1) 100%);
    
        transition: all, ease-in-out, .5s;
        transition: background, ease-in, .5s;
    }
}

@media (min-width: 780px) {
    .gradiant{
        height: 45rem;
        width: 45rem;
    }

    .gradiant:hover{
        height: 55rem;
        width: 55rem;
    }
}

@media (min-width: 992px) {
    .gradiant{
        height: 65rem;
        width: 65rem;
    }

    .gradiant:hover{
        height: 75rem;
        width: 75rem;
    }
}

