
:root{
    --fuente: "Bebas Neue", sans-serif;

    --azul: #1b0085;
    --blanco: #FFFFFF;
    --blancoSucio: #efece4;
    --negro: #010101;
    --negroClaro: #080808;

}


html{
    box-sizing:border-box;
    font-size: 62.5%; /*1rem = 10px*/
}

*, *:before, *:after {
    box-sizing: inherit;
}

body{
    background: var(--blancoSucio);
    
   
    
}

h1,h2,h3,p{
    font-family: var(--fuente);
    text-align:center;
    margin: 0;
    
}

h1{
    font-size:3.5rem;
}

@media (min-width: 780px) {
    h1{
        font-size: 5rem;
    }
}

h2{
    font-size:2.7rem;
    border-bottom: 2px solid var(--azul);
    margin: 0 3rem; 
    padding:  .7rem 0;
    
}

@media (min-width: 780px) {
    h2{
        font-size: 3.5rem;
    }
}





.header{
    padding-top:3rem;
    width:95% ;
    max-width: 120rem;
    margin: 0 auto;
    text-align:center;
}

.imagen_cabezera{
    filter: drop-shadow(20px 20px 20px var(--negroClaro));
    max-width:30rem;
    max-height: 10rem;
}
.contenedor{
    padding-top:3rem;
    width:95% ;
    max-width: 120rem;
    margin: 0 auto;
    display:flex;
    align-items:center;
    justify-content:center;

}

.contenedor-bajo{
    padding-top: 5rem;
    flex-direction:column;
    
}
@media (min-width: 480px) {
    .contenedor-bajo{
        
        flex-direction: row;
        justify-content:space-between;
        gap: 2rem;
        
    }
}

/* COLOR GRADIANTE */
.gradiant{
    
    background: rgb(255,255,255);
    background: linear-gradient(156deg, rgba(255,255,255,1) 0%, rgba(193,207,242,0.94) 54%, rgba(143,167,228,1) 77%, rgba(47,92,207,1) 100%);
    
    
    
}
@media (min-width:468px ) {

    .gradiant:hover{   
        background: rgb(255,255,255);
        background: linear-gradient(156deg, rgba(255,255,255,1) 0%, rgba(216,225,246,0.94) 54%, rgba(184,200,241,1) 77%, rgba(80,119,218,1) 100%);    
        transition: all, ease-in-out, .5s;
        
    }
}

/* TAMAÑO DE LOS CÍRCULOS */
.grande, .mediano, .pequeno{

    border-radius: 5px;
    
    display:block;
    justify-content:space-between;
    -webkit-box-shadow: 40px 40px 40px -12px rgba(0,0,0,0.6);
    -moz-box-shadow: 40px 40px 40px -12px rgba(0,0,0,0.6);
    box-shadow: 40px 40px 40px -12px rgba(0,0,0,0.6);
}


.grande{
    padding-top: 7rem;
    height: 30rem;
    width: 30rem;
}

.mediano{
    padding-top: 5rem;
    height: 25rem;
    width: 25rem;
    
}


.pequeno{
    padding-top: 3rem;
    height: 20rem;
    width: 20rem;
    margin-bottom: 3rem;
}
@media (min-width:480px ) {

    .grande, .mediano, .pequeno{
        border-radius: 50%; 
    }
    .grande{
        
        height: 40rem;
        width: 40rem;       
    }

    .grande:hover{
        height: 45rem;
        width: 45rem; 
        transition: all, ease-in-out, .5s;
        z-index:1;
    }

    .mediano{
        margin-top: -30rem;
    }

    .pequeno{
        margin-top: 4rem;
    }

    .mediano:hover{
        
        height: 30rem;
        width: 30rem; 
        transition: all, ease-in-out, .5s;
    }

    .pequeno:hover{
        height: 25rem;
        width: 25rem; 
        transition: all, ease-in-out, .5s;
    }
}

@media (min-width:780px ) {
    .grande{ 
        height: 50rem;
        width: 50rem;       
        padding-top: 12rem;  
    }

    .mediano{
        margin-top:0 ;
        height: 35rem;
        width: 35rem;  
    }

    .pequeno{
        margin-top:-40rem;
        height: 30rem;
        width: 30rem;  
        z-index: 0;
    }

    .grande:hover{
        height: 55rem;
        width: 55rem; 
        z-index: 1;
        transition: all, ease-in-out, .5s;
    }

    .mediano:hover{
        height: 40rem;
        width: 40rem;
    }

    .pequeno:hover{
        height: 35rem;
        width: 35rem;
    }
}










